<div class="todo-box">
  <form id="todo-form" action="/todo" method="post">
    <input id="todo-input" class="input-border" type="text" name="todo" placeholder="Añade una tarea">
  </form>
  <ul class="todo-list">
    <li>
      <a>Pasear al perro</a>
    </li>
    <li>
      <a>Pasear al perro</a>
    </li>
    <li>
      <a>Pasear al perro</a>
    </li>
    <li>
      <a>Pasear al perro</a>
    </li>
  </ul>
</div>

<!--Showing Temperature -->
<div class="showingTemp">
  <p>{{temp}}°{{grados}}</p>
  <p>{{tempText}}</p>
</div>

<img id="settings" class="animate" src="./Images/settings.png" alt="">
<div class="settings-box">
  <!-- Color -->
  <div class="color">
    <input id="color-box" type="color" name="colorbox" value="#ffffff">
    <label class="label-text">Cambiar Color</label>
  </div>
  <!-- Font -->
    <form class="font-box" action="/" method="post">
      <input class="font-input" type="text" name="font" placeholder="Nombre Exacto de la Fuente" required>
      <label class="label-text">Ingresa a
        <a href="https://fonts.google.com" target="_blank">Google Fonts</a>
        Busca la fuente de tu preferencia y escribe en la caja el nombre de la fuente
        respetando Mayusculas y Minusculas.
      </label>
      <button class="btn" type="submit" name="button">Actualizar Fuente</button>
    </form>
  <!-- Hour -->
  <div class="amPm">
    <p class="p-text">Cambiar Formato de Hora</p>
    <label class="switch">
      <input id="hrs24" type="checkbox" checked>
      <span class="slider round"></span>
    </label>
    <label class="label-text">24hrs</label>
  </div>
  <!-- Temperature -->

  <form class="temp-form" action="/tempConvert" method="post">
    <p class="p-text">Formato de Temperatura</p>
    <label class="switch">
      <input id="temperature" type="checkbox" checked>
      <span class="slider round"></span>
    </label>
    <label class="label-text">Convertir a Farenheit</label>
  </form>
  <!-- Background -->
  <div class="image-upload-box">
    <input id="image-upload" type="file" accept=".png, .jpg, .jpeg" />
    <label class="label-text">Cambiar Imagen de Fondo</label>
  </div>
</div>

<main>
  <div class="main-box">
    <time id="time">00:00:00</time>
    <span id="saludo">Saludos {{nombre}}</span>
    <span id="meta">¿Cual es tu meta el dia de hoy?</span>
    <input id="meta-input" class="input-border" type="text" name="meta">
    <span id="frase">{{frase}}</span>
    <span id="autor">{{autor}}</span>
  </div>
</main>
